<nav class="navbar navbar-default row"  ng-controller="HomeController" >
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li  class="active"><a href="#/home">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="#/people_directory">People Directory</a></li>
                <li><a href="#/jobs_manager">Jobs Manager</a></li>
                <li><a href="#/stats">Statistics</a></li>

            </ul>

            <span class="pull-right"><button class="btn btn-default" ng-click="logout()">logout</button></span>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</div>
<div class="content">

    <div class="alert alert-warning" role="alert"><strong>Warning !!</strong><p> This page is under Construction</p></div>
    <center><img src="img/construction.png"/></center>
</div>