<div id="login-box" class="col-xs-12  col-lg-6 col-lg-offset-3 col-sm-12 col-md-4 col-md-offset-4 " style="" ng-controller="LoginController">
    <div id="header-band"></div>
    <div class="row well" style="background: #ffffff;">
				<span class="glyphicon glyphicon-log-in"
                      style="font-size: 36px; color: #B7EDBB;"></span>

        <form class="form-horizontal" name="form" novalidate>
            <div class="form-group" ng-class="{'has-error':form.username.$invalid && submitted}">
                <label for="username" class="col-sm-2 control-label">Username <span style="color:red;">*</span></label>
                <div class="col-sm-10">
                    <input type="text" name="username" class="form-control" id="username"
                           placeholder="Username"  ng-model="admin.username" required>
                </div>
            </div>
            <div class="form-group"   ng-class="{'has-error':form.password.$invalid && submitted}">
                <label for="password" class="col-sm-2 control-label">Password <span style="color:red;">*</span></label>
                <div class="col-sm-10">
                    <input type="password" name="password" class="form-control" id="password"
                           ng-model="admin.password"   placeholder="Password" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label> <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <center><span style="color:red;">{{error_msg}}</span></center>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="login(admin)">Login</button>
                </div>
            </div>
        </form>


    </div>


</div>