<nav class="navbar navbar-default row"  ng-controller="PeopleController">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="#/home">Home <span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="#/people_directory">People Directory</a></li>
                <li><a href="#/jobs_manager">Jobs Manager</a></li>
                <li><a href="#/stats">Statistics</a></li>

            </ul>

            <span class="pull-right"><button class="btn btn-default" ng-click="logout()">logout</button></span>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</div>


<!-- modals -->
<div class="modal fade" id="addCompany" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="form-horizontal" name="formAddCompany" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">New Company</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group-sm">
                        <label class="col-sm-2 control-label"></label>
                        <input type="text" class="form-control input-sm" placeholder="company name......"  ng-model="company.name" required>
                    </div>
                    <center><span style="color:red;">{{error_add_company}}</span></center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button  type="submit" class="btn btn-primary" ng-click="addCompany(company)">Save</button>
                </div>

            </div>
        </form>
    </div>
</div>
<!-- -->
<div class="modal fade" id="addDepartment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="form-horizontal" name="formAddDepartment" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >New Departement</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group-sm">

                        <input type="text" class="form-control input-sm" placeholder="department name......"  ng-model="department.name" required>
                    </div>
                    <br>

                    <div class="form-group-sm">
                        <select class="form-control" required="required"  ng-model="department.company_id">
                            <option value="" disabled selected>Select company</option>
                            <option ng-repeat="company in companies" value="{{company.id}}">{{company.name}}</option>
                        </select>

                    </div>
                    <center><span style="color:red;">{{error_add_department}}</span></center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button  type="submit" class="btn btn-primary" ng-click="addDepartment(department)">Save</button>
                </div>

            </div>
        </form>
    </div>
</div>
<!-- -->
<div class="modal fade" id="modalDeleteCompany" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >Remove company</h4>
            </div>
            <div class="modal-body">
                <center>
                    <span class="glyphicon glyphicon-warning-sign" style="color:orange; font-size:36px;"></span>
                    <span>Do you want to remove selected company ?</span>
                    <p>(All relative data to this company gone be deleted)</p>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button  type="submit" class="btn btn-primary" ng-click="confDeleteCompany()">yes</button>
            </div>

        </div>

    </div>
</div>

<!-- -->
<!-- -->
<div class="modal fade" id="modalDeleteWorker" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >Remove employe</h4>
            </div>
            <div class="modal-body">
                <center>
                    <span class="glyphicon glyphicon-warning-sign" style="color:orange; font-size:36px;"></span>
                    <span>Do you want to remove selected employe ?</span>

                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button  type="submit" class="btn btn-primary" ng-click="confDeleteWorker()">yes</button>
            </div>

        </div>

    </div>
</div>

<!-- -->
<div class="modal fade" id="modalAddWorker" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form  name="workerForm"  novalidate >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >New Employee</h4>
                </div>
                <div class="modal-body row">
                    <div class="col-xs-6">
                        <h5 style="color:darkgray">Personnal informations...</h5>
                        <div class="form-group" >
                            <input type="text" name="full_name" class="form-control" id="full_name"
                                   placeholder="Full name"  ng-model="worker.full_name" required>
                        </div>
                        <div class="form-group" >
                            <input type="email" name="email" class="form-control"
                                   placeholder="email"  ng-model="worker.email" required>

                        </div>
                        <div class="form-group" >
                            <input type="text" name="phone" class="form-control"
                                   placeholder="phone"  ng-model="worker.phone" required>

                        </div>
                        <div class="form-group" >
                            <input type="text" name="cel_phone" class="form-control"
                                   placeholder="Cel phone"  ng-model="worker.Celphone" required>

                        </div>

                        <div class="form-group" >
                            <input type="text" name="location" class="form-control"
                                   placeholder="address"  ng-model="worker.location" required>

                        </div>

                    </div>
                    <div class="col-xs-6">
                        <h5 style="color:darkgray">Professional informations...</h5>
                        <div class="form-group" >
                            <input type="text" name="title" class="form-control"
                                   placeholder="Full name"  ng-model="worker.title" required>
                        </div>
                        <div class="form-group" >

                           <select class="form-control" required ng-model="com" ng-change="loadRelativeDeps(com)">
                               <option value="" disabled selected>Select company</option>
                               <option ng-repeat="company in companies" value="{{company.id}}">{{company.name}}</option>
                           </select>
                        </div>
                        <div class="form-group" >

                            <select class="form-control" required ng-model="worker.departement_id">
                                <option value="" disabled selected>Select department</option>
                               <option ng-repeat="dep in relativeDeps" value="{{dep.id}}">{{dep.nom}}</option>
                            </select>
                        </div>
                        <div class="form-group" >

                            <input type="date" name="start" class="form-control"
                                   placeholder="Start date"  ng-model="worker.start_date" required>
                        </div>
                        <div class="form-group" >

                            <input type="date" name="start" class="form-control"
                                   placeholder="End date"  ng-model="worker.end_date" required>
                        </div>
                        <center><span style="color:red;">{{error_add_worker}}</span></center>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button  type="submit" class="btn btn-primary" ng-click="addWorker(worker)">Save</button>
                </div>

            </div>


        </div>
    </form>
</div>
<!-- -->
<div class="modal fade" id="modalDeleteDepartment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >Remove company</h4>
            </div>
            <div class="modal-body">
                <center>
                    <span class="glyphicon glyphicon-warning-sign" style="color:orange; font-size:36px;"></span>
                    <span>Do you want to remove selected department ?</span>
                    <p>(All relative data to this department gone be deleted)</p>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button  type="submit" class="btn btn-primary" ng-click="confDeleteDepartment()">yes</button>
            </div>

        </div>

    </div>
</div>
<!-- -->
<!--end modals-->
<div class="content" >

    <div class="alert alert-info" role="alert"><strong>Manage People directory</strong> <button class="btn btn-sm btn-info pull-right" ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span></button></div>


    <div class="row container">

        <div class="col-xs-1"></div>
        <div class="col-xs-12 col-lg-3  col-md-3  col-sm-12  well">
            <h4 class="block-title">Companies</h4>
            <div class="btn-group pull-right">
                <button class="btn btn-sm btn-default" ng-click="initAddCompany()"><span class="glyphicon glyphicon-plus" style="color:cornflowerblue;"></span> new</button>
            </div>
            <hr>
            <div class="form-group-sm">
                <input class="form-control input-sm" type="text" placeholder="Search company....." ng-model="searchCompany">
            </div>
            <br>
            <br>
            <h4>{{msgLoadCompanies}}</h4>
            <div class="tab-contain">
                <table class="table table-responsive table-striped table-hover tab">

                    <tbody>
                    <tr ng-repeat="company in companies | filter: searchCompany" ng-click="loadDepartments(company)" ng-class="{'info':selectedCompany.id==company.id}" >
                        <td ng-bind="company.name"></td>
                    </tr>


                    </tbody>

                </table>
            </div>
            <div class="btn-group pull-right">
                <button class="btn btn-sm btn-default" ng-click="removeCompany()"><span class="glyphicon glyphicon-remove" style="color:red;" ></span> Remove</button>
            </div>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-12 col-lg-3  col-md-3  col-sm-12 well">
            <h4  class="block-title">Departments {{selectedCompany.name}}</h4>
            <div class="btn-group pull-right">
                <button class="btn btn-sm btn-default" ng-click="initAddDepartment()"><span class="glyphicon glyphicon-plus" style="color:cornflowerblue;"></span> new</button>
            </div>
            <hr>
            <div class="form-group-sm">
                <input class="form-control input-sm" type="text" placeholder="Search department....." ng-model="searchDep">
            </div>
            <br>
            <br>
            <h4>{{msgLoadDepartments}}</h4>
            <div class="tab-contain">
                <table class="table table-responsive table-striped table-hover tab">

                    <tbody ng-switch="departments.length">
                    <tr ng-switch-when="0"><td>No Data.....</td></tr>

                    <tr ng-switch-default  ng-repeat="dep in departments | filter: searchDep" ng-click="loadEmployees(dep)" ng-class="{'info':selectedDep.id==dep.id}" >
                        <td ng-bind="dep.nom"></td>
                    </tr>


                    </tbody>

                </table>
            </div>
            <div class="btn-group pull-right">
                <button class="btn btn-sm btn-default" ng-click="initRemoveDepartment()"><span class="glyphicon glyphicon-remove" style="color:red;"></span> Remove</button>
            </div>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-12 col-lg-3  col-md-3  col-sm-12 well">
            <h4  class="block-title">Employees {{selectedDep.nom}}</h4>
            <div class="btn-group pull-right">
                <button class="btn btn-sm btn-default" ng-click="initAddWorker()"><span class="glyphicon glyphicon-plus" style="color:cornflowerblue;"></span> new</button>
            </div>
            <hr>
            <div class="form-group-sm">
                <input class="form-control input-sm" type="text" placeholder="Search employee....." ng-model="searchWorker">
            </div>
            <br>
            <br>
            <h4>{{msgLoadWorkers}}</h4>
            <div class="tab-contain">
                <table class="table table-responsive table-striped table-hover tab">

                    <tbody ng-switch="workers.length">
                    <tr ng-switch-when="0"><td>No Data.....</td></tr>

                    <tr ng-switch-default  ng-repeat="worker in workers | filter: searchWorker" ng-click="showWorker(worker)" ng-class="{'info':selectedWorker.id==worker.id}" >
                        <td ng-bind="worker.fullName" class="work" data-toggle="popover" data-placement="bottom" data-content="JOB :{{worker.job}} phone : {{worker.phone}}"></td>
                    </tr>

                    </tbody>

                </table>
            </div>
            <div class="btn-group pull-right">
                <button class="btn btn-sm btn-default" ng-click="initRemoveWorker()"><span class="glyphicon glyphicon-remove" style="color:red;"></span> Remove</button>
            </div>
        </div>

    </div>
</div>

