@CHARSET "ISO-8859-1";
#header .band{

    background: #B7EDBB;
    opacity: 0.7;
}


html{
    background-image: url("../img/back_tec.png");
    margin:0;
    padding:0;
    height:100%;
}
body{

    background-image: url("../img/back_tec.png");
    margin:0;
    padding:0;
    height:100%;
}
.content{


}
#logo h1{
    font-family: fantasy;
    font-size:26px;


}
#wrapper {
    min-height:100%;
    position:relative;
}

#login-box{

    margin-top:10%;
}
#main{
    padding-bottom: 80px;
}
#footer div{

    position:absolute;
    bottom:0;
    left:0;
    height:30px;
    width:100%;
    width:100%;
    font-family: Arial;
    font-size:12px;
    border-top:1px solid gray;

}
.block-title{

    font-size:18px;
    font-family: Helvetica;
}
.tab{
    background: white;
    border: 1px solid #bababa;
    overflow: scroll;
}
.tab-contain{

    height: 600px;
    overflow: scroll;
    overflow-x:hidden;
}
.selected{

    background:grey;


}